<template>
  <div>
    <nav>
      <ul>
        <li>
          <router-link to="/QuestTwo"
            >Can I pause my subscription if I’m travelling or just need a break?
          </router-link>
        </li>
        <li>
          <router-link to="/QuestThree"
            >Can change the frequency of my shipments after my initial
            order?</router-link
          >
        </li>
        <li>
          <router-link to="/QuestFour"
            >How do i login and manage my subscription on your
            website?</router-link
          >
        </li>
        <li>
          <router-link to="/QuestFive">How does work?</router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedOption: null,
    };
  },

  methods: {},
};
</script>

<style lang="scss" scoped>
nav {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.4px;
}
li {
  width: 13rem;
  height: 12vh;
  margin: 1.2em;
  list-style: none;
}
li:hover {
  background-color: yellow;
  border-radius: 20px;
}
li a {
  width: 10rem;
  color: rgb(0, 12, 12);
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.2em;
}
</style>
