<template>
  <div>
    <header class="header">
      <h1 class="hero-header">PRODUCTS</h1>
    </header>
  </div>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="scss" scoped>
.header {
  position: relative;
  z-index: -8;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3b), rgba(0, 0, 0, 0.7)),
    url("https://www.mybeeline.co/media/cache/full/posts/Manuka-Honey.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  min-width: 100%;
}
.hero-header {
  position: absolute;
  color: white;
  top: 45%;
  left: 45%;
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  .header {
    width: 42rem;
  }
  .hero-header {
    left: 30%;
  }
}
</style>
