<template>
  <div>
    <section class="header-primary">
      <div class="search-box">
        <input type="text" placeholder="Search" required />
      </div>
    </section>
    <section class="info">
      <div class="icons">
        <div>
          <img
            src="https://theme.zdassets.com/theme_assets/2456941/62462f974926a7c7f703ad6a10fe1197d5df4284.svg"
            alt=""
          />
          <h1>TOP FAQ'S</h1>
        </div>
        <div>
          <img
            src="https://theme.zdassets.com/theme_assets/2456941/d677f46a50bdeeffdf454860dc34f02c1a2e7b86.svg"
            alt=""
          />
          <h1>product information</h1>
        </div>
        <div>
          <img
            src="https://theme.zdassets.com/theme_assets/2456941/169b22410b482bc170d082db6cbacc07a92c0fe6.svg"
            alt=""
          />
          <h1>shipping/ordering</h1>
        </div>
      </div>
      <div class="products-info">
        <div class="row">
          <button @click="addMember" class="btn-primary col span-1-of-3">
            HIVE MEMBERSHIP
          </button>
          <button class="btn-primary col span-1-of-3">
            ALLERGIES
          </button>
          <button class="btn-primary col span-1-of-3">FEMALE HEALTH</button>
        </div>
      </div>
      <div class="form-section">
        <button @click="isVisible" class="btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            enable-background="new 0 0 24 24"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <g>
              <rect fill="none" height="24" width="24" />
              <path
                d="M5,5v14h14V5H5z M12.01,18c-0.7,0-1.26-0.56-1.26-1.26c0-0.71,0.56-1.25,1.26-1.25 c0.71,0,1.25,0.54,1.25,1.25C13.25,17.43,12.72,18,12.01,18z M15.02,10.6c-0.76,1.11-1.48,1.46-1.87,2.17 c-0.16,0.29-0.22,0.48-0.22,1.41h-1.82c0-0.49-0.08-1.29,0.31-1.98c0.49-0.87,1.42-1.39,1.96-2.16c0.57-0.81,0.25-2.33-1.37-2.33 c-1.06,0-1.58,0.8-1.8,1.48L8.56,8.49C9.01,7.15,10.22,6,11.99,6c1.48,0,2.49,0.67,3.01,1.52C15.44,8.24,15.7,9.59,15.02,10.6z"
                opacity=".3"
              />
              <path
                d="M13.25,16.74c0,0.69-0.53,1.26-1.25,1.26c-0.7,0-1.26-0.56-1.26-1.26c0-0.71,0.56-1.25,1.26-1.25 C12.71,15.49,13.25,16.04,13.25,16.74z M11.99,6c-1.77,0-2.98,1.15-3.43,2.49l1.64,0.69c0.22-0.67,0.74-1.48,1.8-1.48 c1.62,0,1.94,1.52,1.37,2.33c-0.54,0.77-1.47,1.29-1.96,2.16c-0.39,0.69-0.31,1.49-0.31,1.98h1.82c0-0.93,0.07-1.12,0.22-1.41 c0.39-0.72,1.11-1.06,1.87-2.17c0.68-1,0.42-2.36-0.02-3.08C14.48,6.67,13.47,6,11.99,6z M19,5H5v14h14V5 M19,3c1.1,0,2,0.9,2,2v14 c0,1.1-0.9,2-2,2H5c-1.1,0-2-0.9-2-2V5c0-1.1,0.9-2,2-2H19L19,3z"
              />
            </g>
          </svg>
          Support
        </button>
        <form-info v-if="formIsVisible" v-scrollanimation></form-info>
      </div>
    </section>
  </div>
</template>

<script>
import FormInfo from "@/components/form/FormInfo";
export default {
  components: {
    FormInfo,
  },
  data() {
    return {
      formIsVisible: false,
      clickIsVisible: false,
    };
  },

  methods: {
    isVisible() {
      this.formIsVisible = !this.formIsVisible;
    },
    addMember() {
      this.$router.push("/hive");
    },
  },
};
</script>

<style lang="scss" scoped>
.header-primary {
  position: relative;
  height: 60vh;
  background-image: url("https://9cover.com/images/ccovers/1465153089honey-breakfast-food.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  .search-box input {
    padding: 1.2rem;
    width: 40rem;
    border-radius: 40px;
    border: none;
    outline: none;
  }
}

.info {
  height: 50vh;
  background-color: rgb(255, 255, 255);
  padding: 4.4em;
  .icons {
    width: 30rem;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(22, 110, 14);
    font-family: "Itim", cursive;
  }
  .icons img {
    width: 17rem;
    height: 15rem;
  }
  .row {
    width: 80%;
    margin: auto;
  }
  .btn-primary {
    width: 30rem;
    height: 3rem;
    background-color: rgb(65, 114, 65);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
.btn {
  padding: 1em;
  width: 8rem;
  border-radius: 20px;
  background-color: rgb(235, 235, 16);
  border: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1em;
  cursor: pointer;
}

.form-section {
  margin: 2rem;
  width: 30rem;
  height: 50vh;
}
.before-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}
.enter {
  opacity: 1;
  transform: translateY(0px);
}
.row {
  width: 70rem;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 600px) {
  .info {
    width: 100%;
    padding: 0.3em;
  }

  .icons {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
  }

  .products-info {
    padding: 0.3em;
    .btn-primary {
      margin: 1em;
    }
  }
}
</style>
