<template>
  <div>
    <div class="products-item">
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
      <div class="image">
        <img :src="image" :alt="image" />
      </div>
      <div class="area col span-1-of-2">
        <div class="wrapper">
          <h2 class="text">{{ area }}</h2>
          <p class="para">{{ description }}</p>
          <div class="price">
            <p class="quantity">{{ quantity }}</p>

            <p>{{ price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["id", "title", "image", "description", "area", "quantity", "price"],
};
</script>

<style scoped>
.products-item {
  width: 30rem;

  height: 50vh;
}
div {
  margin: auto;
}

img {
  width: 25rem;
  height: 25rem;
  padding: 1.6em;
}
.text {
  padding: 0.4em;
  color: chocolate;
  font-size: 1.7rem;
}
.para {
  padding: 0.4em;
  font-size: 1.2rem;
}

.wrapper {
  margin-left: 0.8rem;
  display: block;
}
.price {
  padding: 1.2em;
  font-size: 1.4rem;
  color: red;
  font-weight: bold;
}
</style>
