<template>
  <div>
    <header v-scrollanimation>
      <h1 v-scrollanimation>
        Complex Science.<br />
        Simple Ingredients.
      </h1>
    </header>
    <div class="container">
      <div class="row">
        <div class="text">
          <h1 v-scrollanimation>
            Ingredients that don't cut corners
          </h1>
          <p>
            We finally have modern science to back up the efficacy of ancient
            remedies—and improve upon them. <br />
            That’s why we’ve teamed up with sustainable beekeepers and
            researchers to identify clean,<br />
            yet potent ingredients that move the needle on your daily health.
          </p>
        </div>

        <div class="icons">
          <img src="coffie.jpg" />
          <img src="gluten_free.jpg" />
          <img src="sugar.jpg" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
};
</script>

<style lang="scss" scoped>
header {
  width: 100%;
  height: 70vh;
  background-image: url("https://cdn.shopify.com/s/files/1/0029/0547/3113/files/bkprs_site_ingredients_hero_desktop_1944x.jpg?v=1614520642");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}
header h1 {
  position: absolute;
  top: 30%;
  left: 35%;

  font-size: 4rem;
  font-weight: 500;
}
.hero {
  width: 30rem;
  margin: 4rem auto;
  font-family: "Noto Sans", sans-serif;
  height: 40vh;
  font: inherit;
}
.hero h1 {
  font-size: 3.4rem;
  padding: 0.4em;
}
.container {
  width: 100%;
  margin-top: 5rem;
  padding: 1em;
  .text {
    width: 60rem;

    height: 30vh;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 2em;
    letter-spacing: 0.3px;
  }
  .text h1 {
    font-size: 4rem;
    font-weight: 700;
    padding: 1em;
  }
  .text p {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .icons {
    width: 50rem;
    display: flex;
    justify-content: center;
    padding: 4em;
  }
  .icons img {
    width: 20rem;
    height: 20rem;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.before-enter {
  opacity: 0;
  transform: scale(0.5) rotateZ(-25deg);
  transition: all 1s ease-out;
}

.enter {
  opacity: 1;
  transform: translateY(0px);
}
</style>
