<template>
  <div>
    <header-pro></header-pro>

    <filter-products class="" @change-filter="setFilters"></filter-products>

    <div class="container">
      <ul class="items" v-if="HasProducts">
        <products-items
          v-for="prod in filteredProducts"
          :key="prod.id"
          :id="prod.id"
          :title="prod.title"
          :image="prod.image"
          :description="prod.description"
          :area="prod.area"
          :price="prod.price"
        >
        </products-items>
      </ul>
    </div>
  </div>
</template>

<script>
import ProductsItems from "./ProductsItems";
import FilterProducts from "../FilterProducts.vue";
import HeaderPro from "./HeaderPro";

export default {
  components: {
    ProductsItems,
    FilterProducts,
    HeaderPro,
  },

  data() {
    return {
      activeFilters: {
        propolis: true,
        honey: true,
        candles: true,
      },
    };
  },

  computed: {
    products() {
      return this.$store.getters["products"];
    },

    filteredProducts() {
      const products = this.$store.getters["products"];
      return products.filter((prod) => {
        if (this.activeFilters.propolis && prod.area.includes("propolis")) {
          return true;
        }
        if (this.activeFilters.honey && prod.area.includes("honey")) {
          return true;
        }
        if (this.activeFilters.candles && prod.area.includes("candles")) {
          return true;
        }
        return false;
      });
    },
    HasProducts() {
      return this.$store.getters["products"];
    },
  },

  methods: {
    setFilters(updateFilters) {
      this.activeFilters = updateFilters;
    },
  },
};
</script>

<style scoped>
.items {
  display: flex;
  padding: 1em;
  margin: 1em;
  flex-wrap: wrap;
}
</style>
