<template>
  <div class="form-info">
    <header class="form-header">
      <h1>Contact us</h1>
      <div class="close"></div>
    </header>
    <div class="form-content">
      <form @submit.prevent="submitForm">
        <label for="name">
          Your Name
        </label>
        <input type="text" name="name" id="name" v-mode.trim="enteredName" />
        <label for="email address">
          Email Address
        </label>
        <input type="text" name="email" id="email" v-model="enteredEmail" />
        <label for="textarea">
          How can we help you?
        </label>
        <textarea type="textarea" row="6" v-model.trim="textArea"> </textarea>
        <button class="btn">SEND</button>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      formIsVisible: true,
      inputColorChange: "",
      enteredName: "",
      enteredEmail: "",
      textArea: "",
    };
  },
  methods: {
    submitForm() {
      fetch(
        "https://my-be-project-9c5b9-default-rtdb.firebaseio.com/bee.json",
        {
          method: "POST",
          headers: {
            "Content-type": "application/json",
          },
          body: JSON.stringify({
            name: this.enteredName,
            email: this.enteredEmail,
            textArea: this.textArea,
          }),
        }
      );
      this.enteredName = "";
      this.enteredEmail = "";
      this.textArea = "";
    },
  },
};
</script>

<style lang="scss">
.form-info {
  width: 20rem;
  height: 40vh;

  display: flex;
  flex-direction: column;
  text-align: center;

  border-radius: 10px;
  box-shadow: 0 0 6px rgba(124, 108, 108, 0.7);
}
.close {
  width: 20px;
  height: 5px;
  background-color: green;
  margin-left: 2em;
  cursor: pointer;
}
.form-header {
  width: 100%;
  background-color: yellow;
  border-radius: 10px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputColor input {
  border: 2px solid red;
}
.form-content {
  padding: 1.9em;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
}
.form-content input {
  display: flex;
  width: 90%;
  padding: 0.6em;
  border-radius: 16px;
  margin: 0.4em;
  box-shadow: 0 0 4px;
  outline: none;
}
textarea {
  height: 10vh;
  width: 90%;
  padding: 1em;
  margin: 1em 0;
}

.btn {
  padding: 0.6em;
  background-color: yellow;
  border: none;
  cursor: pointer;
}
</style>
