<template>
  <div class="form-control">
    <labe><slot /></labe>
    <input
      v-if="(controlInput = 'input')"
      v-bind="$attrs"
      :value="value"
      @input="$emit('input', $event.target.value)"
    />
    <textarea
      v-if="(controlInput = 'textarea')"
      :value="value"
      @input="$emit('input', $event, target.value)"
    >
    </textarea>
  </div>
</template>

<script>
export default {
  props: {
    controlInput: {
      type: String,
      default: "input",
    },
    value: {
      type: String,
      default: "",
    },
  },
};
</script>

<style scoped>
.form-control {
  width: 50rem;
  height: auto;
  background-color: aliceblue;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  margin: auto;
}
input {
  height: 10rem;
  width: 100%;
  border: 1px solid red;
}
</style>
