<template>
  <div>
    <div class="container">
      <div class="row">
        <h1 class="title">Hive Membership</h1>
        <div class="text-primery">
          <p>
            <button @click="addQuest">
              Can I pause my subscription if I’m travelling or just need a
              break?
            </button>
          </p>
          <p>
            <button>
              Can I change the frequency of my shipments after my initial order?
            </button>
          </p>
          <p>
            <button>
              How do I login and manage my subscription on your website?
            </button>
          </p>
          <p>
            <button>
              How does it work?
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    addQuest() {
      this.$router.push("/quest");
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 60%;
  font-family: "Noto Sans JP", sans-serif;

  margin-top: 4rem;
}
.row {
  width: 40rem;
  display: flex;
  height: 60vh;
  flex-direction: column;

  margin: 3rem 30rem;
  .title {
    font-size: 3rem;
    border-bottom: 2px solid yellow;
    letter-spacing: 1px;
    padding: 0.3em;
    margin-bottom: 0.3em;
    font-weight: 100;
  }
  .text-primery {
    margin-top: 1em;
    padding: 1em;
  }
  .text-primery button {
    font-size: 1.1rem;
    margin: 1em 0em;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    padding: 0.3em;
  }
}
.search-input {
  width: 30rem;
  position: absolute;

  height: 20vh;
  top: 12%;
  left: 60%;
  input {
    padding: 0.9em;
    width: 100%;
    border-radius: 50px;
    outline: none;
    font-size: 1.2rem;
    border: 2px solid yellow;
    letter-spacing: 1px;
  }
}
</style>
