<template>
  <div>
    <div class="content">
      <section class="product-faq">
        <div class="text-primery">
          <h1 class="in-text">Ask us anything.</h1>
        </div>
        <div class="row">
          <div class="acordin-text">
            <button @click="addOne" class="btn col-md-4">
              <div class="text">
                <h2>
                  Where do you source your bee products from?
                </h2>

                <p v-if="paraIsVisible.paraOne" v-scrollanimation>
                  We love to talk about sourcing. All of our products come from
                  small-scale, remote apiaries primarily across Canada and the
                  US, as well as exotic regions around the world such as the
                  Brazilian rainforest. We work with our apiary partners to
                  ensure that our bee products are sustainably-sourced and of
                  the highest quality. We always put the health of the bees
                  first.
                </p>

                <div></div>
              </div>
            </button>

            <button @click="addTwo" class="btn col-md-6">
              <div class="text">
                <h2>
                  Why are bees so important to the planet?
                </h2>
                <p v-if="paraIsVisible.paratwo" v-scrollanimation>
                  Every third bite of food you eat comes from the bees. Without
                  them, we’d lose apples, almonds, cucumbers, blueberries,
                  broccoli, cauliflower, and more if the bees disappear. And
                  that’s just one of the many consequences of losing our buzzing
                  yellow friends.
                </p>
              </div>
            </button>

            <button @click="addThree" class="btn col-md-6">
              <div class="text">
                <h2>
                  If I’m allergic to bees, can I take your products?
                </h2>

                <p v-if="paraIsVisible.parathree" v-scrollanimation>
                  There is rarely a correlation between allergies to bee stings
                  (bee venom) and bee products. However, we always recommend
                  consulting with a health professional <br />
                  in situations like this. Your safety is our number-one
                  priority.
                </p>
                <transition name="fade"> </transition>
              </div>
            </button>

            <button @click="addFour" class="btn col-md-7">
              <div class="text">
                <h2>
                  Are your products certified organic?
                </h2>
                <p v-if="paraIsVisible.parafour" v-scrollanimation>
                  Our products are not certified organic, but we do third-party
                  test all of our formulas for pesticides and heavy metals to
                  ensure that we only bottle the very best ingredients.
                </p>
              </div>
            </button>

            <button @click="addInfo" class="btn-second">
              STILL HAVE QUESTIONS? MORE FAQ’S
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      paraIsVisible: {
        paraOne: false,
        paratwo: false,
        parathree: false,
        parafour: false,
      },
    };
  },
  methods: {
    addOne() {
      this.paraIsVisible.paraOne = !this.paraIsVisible.paraOne;
    },
    addTwo() {
      this.paraIsVisible.paratwo = !this.paraIsVisible.paratwo;
    },
    addThree() {
      this.paraIsVisible.parathree = !this.paraIsVisible.parathree;
    },
    addFour() {
      this.paraIsVisible.parafour = !this.paraIsVisible.parafour;
    },
    addInfo() {
      this.$router.push("/info");
    },
  },
};
</script>

<style lang="scss" scoped>
.content {
  width: 90%;
  margin: auto;
  height: 130vh;

  .product-faq {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    &__text-primary,
    h1 {
      color: rgb(20, 1, 1);
      font-size: 4rem;
      padding: 1.6em;
    }
    h2 {
      font-size: 1.9rem;
    }
  }

  .acordion {
    width: 80rem;

    height: auto;
    margin: auto;
    padding: 1em;
  }
  .acordin-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black .text {
      width: 100%;
      height: auto;
      border: none;
      display: flex;
      border-bottom: 1px solid;

      justify-content: center;

      color: rgb(14, 0, 0);
      font-size: 0.5rem;
      font-family: "Roboto", sans-serif;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 3em;
    }
    .btn {
      background: none;
      cursor: pointer;
      border: none;
      outline: none;
      margin: 1em;
      width: 30rem;
    }
  }
  .enter-to {
    transition: all ease-out 3s;
  }
  p {
    padding: 1em;
    font-size: 1.2rem;
  }
}
.before-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}
.enter {
  opacity: 1;
  transform: translateY(0px);
}

.btn-second {
  width: 20rem;
  padding: 1em;
  margin: 4rem auto;
  border-bottom: 1px solid yellow;
  cursor: pointer;
  background: none;
  font-size: 1.3rem;

  color: rgb(0, 0, 0);
}
</style>
