<template>
  <div>
    <div class="container">
      <div class="text">
        <h2>All products</h2>
      </div>
      <div class="row">
        <span class="filter-option">
          <input type="checkbox" id="propolis" checked @change="setFilter" />
          <label for="propolis">Propolis</label>
        </span>
        <span class="filter-option">
          <input type="checkbox" id="honey" checked @change="setFilter" />
          <label for="honey">Honey</label>
        </span>
        <span class="filter-option">
          <input type="checkbox" id="candles" checked @change="setFilter" />
          <label for="candles">Candles</label>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  emits: ["change-filter"],
  data() {
    return {
      filters: {
        propolis: true,
        honey: true,
        candles: true,
      },
    };
  },
  methods: {
    setFilter(event) {
      const inputId = event.target.id;
      const isActive = event.target.checked;
      const updatedFilters = {
        ...this.filters,
        [inputId]: isActive,
      };
      this.filters = updatedFilters;
      this.$emit("change-filter", updatedFilters);
    },
  },
};
</script>

<style scoped>
.container {
  border-bottom: 1px solid rgb(221, 207, 207);
  padding: 3em;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;

  margin-top: 3rem;
  height: 10vh;
  font-family: "Oswald", sans-serif;
}
h2 {
  margin: 0.5rem 0;
  font-size: 2rem;
  color: rgb(120, 180, 30);
}
input[type="checkbox"] {
  width: 30px;
  height: 30px;

  outline: none;
}

.text {
  padding: 0.3em;
  display: flex;
}

.filter-option {
  margin: 1rem;
  display: flex;
  justify-content: center;

  font-size: 1.2rem;

  letter-spacing: 2px;
}

.filter-option label,
.filter-option input {
  vertical-align: middle;
  background-color: greenyellow;

  padding: 0.3em;
  border-radius: 40%;
}

.filter-option label {
  margin-left: 0.25rem;
}

.filter-option.active label {
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}
</style>
