<template>
  <div>
    <section class="header-primery">
      <div class="backgroundImage"></div>
      <div class="hero">
        <h1>Bees for Development</h1>

        <p>
          We support beekeepers in some of the world's poorest communities.<br />
        </p>
      </div>
    </section>
    <section class="hero-two">
      <div class="hero-text">
        <h1>
          A Better Way<br />
          to Feel Better.
        </h1>

        <p v-scrollanimation>
          Have you ever wondered why we rely on harmful chemicals and artificial
          ingredients to maintain our body’s health? We have. After years of
          battling on-and-off tonsillitis, our founder Carly Stein finally found
          relief in an ingredient called propolis: a combination of tree and
          plant resin created by bees to protect the hive. Now, we vet every
          last one of our ingredients under the rigorous standards we’d want for
          anything that goes in our bodies.
        </p>
        <button @click="addProducts" class="btn-1">MEET OUR INGREDIENTS</button>
      </div>
    </section>
    <medicine-section></medicine-section>
  </div>
</template>

<script>
import MedicineSection from "./section/MedicineSection.vue";
export default {
  components: {
    MedicineSection,
  },
  methods: {
    addProducts() {
      this.$router.push("/list");
    },
  },
};
</script>

<style lang="scss" scoped>
.backgroundImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("nav/image.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.hero {
  position: absolute;
  left: 30%;
  top: 30%;
  color: antiquewhite;
  letter-spacing: 1px;
}
.hero-text {
  padding: 1em;

  width: 50rem;

  text-align: center;
  font-size: 2rem;

  font-family: "Source Sans Pro", sans-serif;
  font: inherit;
}
.hero-text p {
  font-size: 1.4rem;
  padding: 1em;
}
.hero p {
  font-size: 1.5rem;
}
.hero-text h1 {
  font-size: 4rem;
}
.hero h1 {
  font-size: 5rem;
  letter-spacing: 1px;
}
.hero-two {
  width: 100%;
  height: 95vh;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.btn-1 {
  width: 220px;
  height: 55px;
  border: none;
  color: white;
  background-color: green;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #bbb89b;
  transition: ease-out 0.4s;
  font-size: 1rem;
  outline: none;
  margin: 0.4em;
}
.btn-1:hover {
  box-shadow: inset 300px 0 0 0 #0c6128;
  cursor: pointer;
  color: rgb(246, 225, 225);
}

.hero-image {
  background-image: url("https://miro.medium.com/max/6300/0*het9SVQxRtQRerty");

  background-repeat: no-repeat;
  background-position: center;

  width: 40rem;
  background-size: cover;
  height: 50vh;
  margin: 2em auto;
  border-radius: 30%;
  padding: 2em;
}
.before-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease-out;
}
.enter {
  opacity: 1;
  transform: translateY(0px);
}

.backgroundImage {
  height: 60vh;
}
.hero h1 {
  font-size: 4rem;
  margin-bottom: 0.3rem;
}
.hero-two {
  width: 50rem;
  display: flex;
  flex-direction: column;
  padding: 3.3em;
  font-size: 1rem;
  margin: auto;
}
.hero-image {
  width: 23rem;
  height: 23vh;
}
.btn-1 {
  width: 9.3rem;
}
.hero-text {
  font-size: 10%;
}
.hero-text h1 {
  font-size: 4rem;
}
.hero-text p {
  font-size: 1.4rem;
}

@media only screen and (max-width: 480px) {
  .backgroundImage {
    padding: 4em;
  }
  .hero-text h1 {
    font-size: rem;
  }
  .hero-text p {
    font-size: 1.2rem;
  }

  .hero {
    display: flex;
  }

  .para {
    width: 100%;
    text-align: center;
  }

  .hero h1 {
    padding: 0.3em;
    margin-left: 2em;
  }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 1023px) {
}
@media only screen and (max-width: 1200px) {
  .backgroundImage {
    width: 100%;
    height: 40vh;
  }
  .hero {
    top: 20%;
    left: 4%;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 1.8rem;
  }
  .hero-text {
    padding: 1%;
    margin: 0;
  }
}
</style>
