<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="box col-md-4">
          <img
            src="https://images.pexels.com/photos/8105618/pexels-photo-8105618.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt=""
          />
        </div>
        <div class="box row col-md-4">
          <img
            src="https://bloximages.newyork1.vip.townnews.com/sandiegomagazine.com/content/tncms/assets/v3/editorial/9/c7/9c7ef632-3604-5cde-9552-ef18f1a3bf8e/5e14dc112faaf.image.jpg?resize=400%2C267"
            alt=""
          />
        </div>
        <div class="box col-md-3">
          <img
            src="https://previews.123rf.com/images/kukota/kukota1810/kukota181000272/111274994-young-female-beekeeper-hold-wooden-frame-with-honeycomb-collect-honey-beekeeping-concept-.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <ask-section></ask-section>
  </div>
</template>

<script>
import AskSection from "../AskSection";
export default {
  components: {
    AskSection,
  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 140rem;

  .row {
    margin: 1em;
  }
  img {
    width: 27rem;
    height: 20rem;
  }
  .box {
    margin: 1em;
  }

  .row {
    margin: 1em;
  }
}
.before-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease-out;
}
.enter {
  opacity: 1;
  transform: translateY(0px);
}
</style>
