<template>
  <div>
    <div class="container">
      <div class="text">
        <h1>What’s the buzz about?</h1>
        <button @click="addCounter">
          SEE MORE
        </button>
      </div>

      <div class="slide">
           <div class=" para" v-if="paraIsVisible">
        <p>I usually just suffer without medicine because the idea of putting chemicals in my body while it’s trying to heal is insane, finding this is a blessing. Great taste, great ingredients and actually works to soothe my cough. Thanks a million! </p>
      </div>
        <div class="col span-1-of-3" v-for="img in images" :key="img.id">
          <transition name="fade">
            <img class="img" :src="img.photo" v-if="photoIsVisible" />
           
          </transition>
        </div>
      </div>
      
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      counter: 0,
      paraIsVisible: false,
      photoIsVisible: false,
      
      

      images: [
        {
          id: "c1",
          photo:
            "https://www.babycenter.com/ims/2020/05/iStock-1146323945_wide.jpg",
        },
        
        {
          id: "c3",
          photo: "https://i.ytimg.com/vi/Hu0rHnYp3RA/maxresdefault.jpg",
        },
      
      ],
    
    };
  },
  methods: {
    addCounter() {
      this.paraIsVisible = ! this.paraIsVisible;
      this.photoIsVisible =! this.photoIsVisible;
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  .slide {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    height: auto;
    img {
      width: 30rem;
      height: 20rem;
      margin: 0.4em;
    }
  }
  .text {
    color: chocolate;
    
    width: 30rem;
    margin: 2rem auto;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:1em;
    
    button {
        width: 8rem;
        margin:1em auto;
        padding:1em;
        background:chocolate;
        outline:none;
        color: white;
        border:none;
        
    }
   
  }
  
  .para {
    width: 30rem;
    height: 30vh;
    
    color: chocolate;
    margin:auto;
    font-size:1.8rem;
    font-family: 'Lato', sans-serif;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
@media only screen and (max-width: 600px) {
 .text h1 {
     font-size: 2.9rem;
  
 }
 .text {
    
    max-width: 30rem;
    
     
   
    
    
     
 }
 
 .slide {
     display: flex;
     flex-direction: column;
     width:100%;
     background-color: green;
     text-align: center;
    .img {
        width:10rem;
    }
     
     

 }
 
}

</style>
