<template>
  <div class="quest-two">
    <h1>
      Can I pause my subscription if I’m travelling <br />
      or just need a break?
    </h1>
    <p>
      Always. The easiest thing to do is skip your next shipment. Once logged in
      to your account, go to the 'Your Subscription' page and click ‘edit’ to
      change or delay your next charge date
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.quest-two {
  background-color: purple;
  margin: 4rem 4rem;
}
h1 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
p {
  font-size: 1.5rem;
  margin-top: 4em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1.2px;
}
</style>
