<template>
  <div class="container">
    <div class="row">
      <h1>Articles in this section</h1>
      <quest-article></quest-article>
    </div>

    <div class="view">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
import QuestArticle from "@/components/articleSection/QuestArticle";
export default {
  components: {
    QuestArticle,
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.container {
  width: 80rem;
  background-color: yellow;
  display: flex;
  margin: 3rem auto;
  text-align: center;
  height: 80vh;
  .row {
    height: 60vh;
  }
  .view {
    width: 90%;
    background-color: blue;
    height: 60vh;
    margin: 0 4rem;
  }
  h1 {
    font-size: 24px;
    font-weight: 800;
  }
}
</style>
