<template>
  <div class="quest-four">
    <h1>How do I login and manage my subscription on your website?</h1>
    <p>
      You can access and make changes to your subscriptions by logging into your
      account on our website and clicking 'Manage Subscriptions'.
    </p>
    <p>
      From this portal you can skip your next shipment, change your delivery
      frequency, pause your deliveries, swap the product for a different one,
      and more!
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.quest-four {
  background-color: purple;
  margin: 4rem 4rem;
}
h1 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
p {
  font-size: 1.5rem;
  margin-top: 4em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1.2px;
}
</style>
