<template>
  <div class="quest-three">
    <h1>Can I change the frequency of my shipments after my initial order?</h1>
    <p>
      Yes, you absolutely can! You can easily adjust the frequency of your
      shipments by logging in to your account on our website.
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.quest-three {
  background-color: purple;
  margin: 4rem 4rem;
}
h1 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
p {
  font-size: 1.5rem;
  margin-top: 4em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1.2px;
}
</style>
