<template>
  <div>
    <TheHeader @sidenavToggle="displaySidenav = !displaySidenav" />
    <TheSidenav :show="displaySidenav" @close="displaySidenav = false" />
    <div class="btn-container"></div>

    <router-view />
  </div>
</template>

<script>
import TheHeader from "@/components/nav/TheHeader";
import TheSidenav from "@/components/nav/TheSidenav";

export default {
  components: {
    TheHeader,
    TheSidenav,
  },

  data() {
    return {
      displaySidenav: false,
    };
  },
 
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
.btn-container {
  position: relative;
}
</style>

<style lang="scss">
@import "./assets/grid.css";
</style>
