<template>
    <div class="drawer-toggle" role="button" @click="$emit('toggle')">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</template>

<style scoped>
.drawer-toggle {    
    width:35px;
    height:50%;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    cursor: pointer;
}
@media (min-width: 768px) {
    .drawer-toggle {
        display:none;
    }
}
.drawer-toggle .bar {
    width:90%;
    height:2px;
    background-color:white;
}
</style>